In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_numeric = pd.read_csv('df_training_combined_numeric.csv')
df_numeric.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,target
0,69572,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999,functional
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010,functional
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009,functional
3,67743,0.0,263,38.486161,-11.155298,0,90,63,58,1986,non functional
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,0,functional

In [3]:
target = df_numeric.pop('target')

In [4]:
df_numeric.dtypes

id                     int64
amount_tsh           float64
gps_height             int64
longitude            float64
latitude             float64
num_private            int64
region_code            int64
district_code          int64
population             int64
construction_year      int64
dtype: object

In [ ]:
df_